// Import the framework
@import '../../node_modules/vanilla-framework';

// Include all of Vanilla Framework
@include vanilla;

.p-card {
    border-top: 3px solid rgba(185,152,179,255) !important;
    margin: 1rem;
    max-width: 350px;
    min-width: 200px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}

.dotted {
    background: none !important;
    border-top: rgba(0,0,0,0.2) dotted 1px;
}